/* :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
*{
    box-sizing: border-box;
}
body {
    display: flex;
    height: 135vh;
    /* border: 2px solid red; */
    margin: 0;

}
.left-content {
    background: url(./img/leaves.jpg) no-repeat center center/ cover;
    width: 35%;
}
.right-content {
    width: 65%;
    display: flex;    
    flex-direction: column;
}
.description {
    font-size: larger;
    font-weight: 800;
    font-size: 1.4em;
}
/* .right-upper-part {
    border: 2px solid red;
    background-color: rgba(249, 250, 251, 1);
    margin: 130px 50px 40px 20px;
    padding: 0px 100px 20px 30px;
    
} */
/*new*/
.right-upper-part {
 /* height: 35%; */
 /* border: 2px solid red; */
 background-color: rgba(249, 250, 251, 1);
 padding: 100px 50px 0px 45px ;
 flex:1 1 150px;

}
form {
    /* height: 25%; */
    flex-grow: 2;
    /* border: 2px solid red; */
}

/*form basic*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 0 30px;
    border-bottom: 5px solid hsla(210, 3%, 88%, 1);
  }
  
  .flexThis {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    .inputs {
      width: 100%;
      margin-bottom: 20px;
    }
    
    .flexThis {
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 480px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"] {
      font-size: 16px;
    }
  }

  /*inputs focus styling*/
  input:focus {
    outline: none;
    border-color: #665df5;
    box-shadow: 0 0 2px #665df5;
}

/**/

button {
  margin: 20px 0px;
  padding: 15px 40px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #596D48;
  color: antiquewhite;
  border: 0;

  min-height:20px; 
  min-width: 100px;
  font-size: 17px;
}
button:hover {
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #596D48;
  font-weight: bold;
}
a:hover {

  font-size: 25px;
}

.right-lower-part {
  background-color: rgba(249, 250, 251, 1);
  flex-grow: 3;
  margin-left: 30px;
  font-size: 20px;
 
}
.hide {
  display: none;
}
#wrongPwd {
  color: red;
}

/*styling the left content*/
